img {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  clear:both;
}

body {
  font-family: Arial;
}

form {
  text-align: center;
}

/* Style on the searchbar*/
#search{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
  width: 40%;
}

form.searchbar button {
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.searchbar button:hover {
  background: #0b7dda;
}

form.searchbar::after {
  content: "";
  clear: both;
  display: table;
}

.top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #f1f1f1;
}

.top li {
  float: right;
}

.top li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color on hover */
.top li a:hover {
  background-color: #555;
  color: white;
}

.top .active {
  background-color: #0000FF;
  color: #C0C0C0;
}

.bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom li {
  float: left;
}

.bottom li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color on hover */
.bottom li a:hover {
  background-color: #555;
  color: white;
}
